
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
 

body {
  font-family: Arial, Helvetica, sans-serif;
}
